{% extends "layout.html" %}

{% block body %}

<section class="text-center">

    <form action="" method="post" style="max-width: 700px;" class="mx-auto">

        {{ search_form }}

    </form>

</section>

<section id="search_results" class="mt-5"> 

</section>

<script>

    const search_form_area = document.getElementById('location-area-searchbox');
    const searchResults = document.getElementById('search_results');

    document.addEventListener('DOMContentLoaded', ()=>{
        fetch_trips()
        search_form_area.addEventListener('change', ()=>handle_searcharea_change(search_form_area.value))
    })

    function handle_searcharea_change(area_code) {
        fetch_trips(area_code)
    }

    async function fetch_trips(area_code = ''){

        const response = await fetch(`give_trips?origin_area=${area_code}`)
        if (response.ok) {
            const updatedTrips = await response.json();
            updateTripsList(updatedTrips.rendered_trips); 
        } else {
            console.error('Failed to fetch trips:', response.statusText);
        }

    }

    function updateTripsList(trips) {
        searchResults.innerHTML = trips
    }

    function handle_trip_req(event) {

        const form = event.target.parentNode
        const formData = new FormData(form)
        const formObject = {};
        formData.forEach((value, key) => {
            formObject[key] = value;
        });
        send_post(formObject)

    }

    async function send_post(booking_data) {

        event.preventDefault(); 

        const csrfToken = '{{ csrf_token }}'
                
        const response = await fetch('booking_request', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ booking_request: booking_data })
        })

        const result = await response.json()
        if (response.ok) {
            console.log(result)
            window.location.href = "{% url 'index' %}"
        }
    }

</script>
{% endblock %}