{% extends "layout.html" %}

{% block body %}

<section class="text-center">

    <form action="" method="post" style="max-width: 700px;" class="mx-auto">

        {{ search_form }}

    </form>

</section>

<section id="search_results" class="mt-5"> 

    {% include 'component_snippets/trips_list.html' with trips=all_trips %}

</section>

<script>

    const search_form_area = document.getElementById('location-area-searchbox')
    const searchResults = document.getElementById('search_results');

    document.addEventListener('DOMContentLoaded', ()=>{
        search_form_area.addEventListener('change', ()=>handle_searcharea_change(search_form_area.value))
    })

    function handle_searcharea_change(area_name) {
        console.log(search_form_area, area_name)
        fetch_trips(area_name)
    }

    async function fetch_trips(area_name){

        const response = await fetch(`give_trips/${area_name}`)
        if (response.ok) {
            const updatedTrips = await response.json();
            updateTripsList(updatedTrips.rendered_trips); 
        } else {
            console.error('Failed to fetch trips:', response.statusText);
        }

    }

    function updateTripsList(trips) {
        searchResults.innerHTML = trips
    }

</script>
{% endblock %}