{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

        {% include 'component_snippets/carousel_item.html' with image_link="../static/imgs/hero/front-view-kid-waving-mother-optimized.jpg" image_desc='picture of boy waving at parent' attribute_link='https://www.freepik.com/free-photo/front-view-kid-waving-mother_32518293.htm#fromView=search&page=1&position=0&uuid=d45d65f8-fd7f-42f4-b601-a554f8099044' %} 
        {% include 'component_snippets/carousel_item.html' with image_link="../static/imgs/hero/side-view-smiley-kid-waving-mother-optimized.jpg" image_desc='picture of boy waving at parent' attribute_link='https://www.freepik.com/free-photo/side-view-smiley-kid-waving-mother_32518316.htm#fromView=search&page=1&position=43&uuid=e07ec81c-fa4b-4919-a4b9-e5508803cf27' %}
        {% include 'component_snippets/carousel_item.html' with image_link="../static/imgs/hero/side-view-father-kid-first-day-school-optimized.jpg" image_desc='picture of boy waving at parent' attribute_link='https://www.freepik.com/free-photo/side-view-father-kid-first-day-school_32518336.htm#fromView=search&page=1&position=15&uuid=d45d65f8-fd7f-42f4-b601-a554f8099044' %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>

<div style="background: #404;" >

    <div class="p-3 text-center">
        <strong class="fs-1" style="color: white;">Lets Go to School Together!</strong>
    </div>

    <div class="home_divider">
    </div>

</div>

<div style="margin-top: -10cqw; background-color: lightpink;">

    <div class="row row-cols-1 row-cols-md-2 g-0 mx-auto">

        <div class="col">
            <div class="d-flex justify-content-end px-5 py-5 align-items-center">

                <div class="position-relative floating rounded" style="box-shadow: 10px 5px 70px black;">
                    
                    <img src="../static/imgs/hero/woman-with-mask-headphones-train-optimized.jpg"
                    class="rounded"
                    style="width: 300px; height: 400px; object-fit: cover;">
                    <a class="position-absolute end-0 bottom-0 z-1 text-white text-decoration-none" href="https://www.freepik.com/free-photo/woman-with-mask-headphones-train_8741391.htm#fromView=search&page=1&position=10&uuid=cccab5e1-e98c-4cd3-b18e-b05f595ef61e">Image by freepik</a>
                    
                </div>
                
            </div>
        </div>
        
        <div class="col">

            <div class="px-5 py-4 d-flex h-100 align-items-center">

                <div class="" style="color: #404">
                    
                    <h1 class="fw-bold">
                        Safety First
                    </h1>
                    
                    <p style="color: var(--bs-purple);">
                    Does your child use public transport to school?
                    <br>
                    Are you worried about safety of your child
                    <br>
                    Try our service to find a <span style="color: rgb(181, 68, 68);"> buddy!</span>
                    </p>
                    
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}