{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

        {% include 'component_snippets/carousel_item.html' with image_link="../static/imgs/hero/front-view-kid-waving-mother-optimized.jpg" image_desc='picture of boy waving at parent' attribute_link='https://www.freepik.com/free-photo/front-view-kid-waving-mother_32518293.htm#fromView=search&page=1&position=0&uuid=d45d65f8-fd7f-42f4-b601-a554f8099044' %} 
        {% include 'component_snippets/carousel_item.html' with image_link="../static/imgs/hero/side-view-smiley-kid-waving-mother-optimized.jpg" image_desc='picture of boy waving at parent' attribute_link='https://www.freepik.com/free-photo/side-view-smiley-kid-waving-mother_32518316.htm#fromView=search&page=1&position=43&uuid=e07ec81c-fa4b-4919-a4b9-e5508803cf27' %}
        {% include 'component_snippets/carousel_item.html' with image_link="../static/imgs/hero/side-view-father-kid-first-day-school-optimized.jpg" image_desc='picture of boy waving at parent' attribute_link='https://www.freepik.com/free-photo/side-view-father-kid-first-day-school_32518336.htm#fromView=search&page=1&position=15&uuid=d45d65f8-fd7f-42f4-b601-a554f8099044' %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>

<div style="background: #404;">

    <div class="p-3 text-center">
        <strong class="fs-1" style="color: white;">Lets Go to School Together!</strong>
    </div>

</div>

{% include 'component_snippets/hero.html' %}

<div style="background: #404;">

    <div class="p-3 text-center">
        <strong class="fs-1" style="color: white;">How it Works</strong>
    </div>

</div>

<div class="position-relative" style="overflow: hidden;">

    {% include 'component_snippets/faq.html' with faq=faq %}
    
</div>

{% include 'component_snippets/footer.html' %}


{% endblock %}