{% extends "layout.html" %}

{% block body %}


<section class="text-center">
    {% include 'component_snippets/trip_form.html' %}
</section>

<section class="mt-5">
    {% include 'component_snippets/trips_list.html' with trips=my_active_trips %}

</section>

<script>

    document.addEventListener('DOMContentLoaded', ()=>{

        const valid_for = document.getElementById('id_valid_for')
        const valid_till = document.getElementById('id_valid_till')

        const currentDate = new Date()

        valid_for.addEventListener('change', update_valid_date)
        
        function update_valid_date() {
            
            let targetDate = new Date()

            switch (valid_for.value) {

            case 'monthly':
                targetDate.setMonth(currentDate.getMonth() + 1);
                break;
            case 'quarterly':
                targetDate.setMonth(currentDate.getMonth() + 3);
                break;
            case 'semi_annually':
                targetDate.setMonth(currentDate.getMonth() + 6);
                break;
            case 'annually':
                targetDate.setFullYear(currentDate.getFullYear() + 1);
                break;
            }

            valid_till.value = targetDate.toISOString().split('T')[0];
            valid_till.focus()
        }
        
    })

</script>

{% endblock %}