{% extends "layout.html" %}

{% block body %}


<section class="text-center">
    {% include 'component_snippets/trip_form.html' %}
</section>

<section class="mt-5">
    {% include 'component_snippets/trips_list.html' with trips=my_active_trips %}
</section>

<script>

    function handle_bookingReqConf(event) {

        const req_id = event.currentTarget.dataset.itemId
        const save_action = event.currentTarget.dataset.saveAction == "True"
        const trip_id = event.currentTarget.dataset.tripId

        send_bookingStatUpdate(req_id, save_action, trip_id)

    }

    async function send_bookingStatUpdate(req_id, save_action, trip_id) {            //save_action will be true for save and false for delete 

        const csrf = '{{csrf_token}}'

        const response = await fetch(
            'bookingreq_put',
            {
                method: 'PUT',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf
                },
                body: JSON.stringify({
                    'req_id' : req_id,
                    'save_action' : save_action
                })
            }
        )

        const data = await response.json()
        
        if (response.ok) {
            const open_spots = (data.open_spots)
            
            if (!save_action){
                const deleteModal = document.getElementById(`deleteModal-${req_id}`)
                const modal = bootstrap.Modal.getInstance(deleteModal);
                modal.hide()
            }
            
            update_row_look(`requestrow-${req_id}`, data.message, save_action)
            update_open_spots(open_spots, trip_id)
        }
        
    }
    
    function update_open_spots(open_spots, trip_id) {

        const open_spots_space = document.getElementById(`open_spots_${trip_id}`)
        open_spots_space.textContent = open_spots        
    }

    function update_row_look(row_id, message, save_action) {

        const requestrow = document.getElementById(row_id)
            const tds = requestrow.querySelectorAll('td');

            if (!save_action) {
                var row_color = 'text-bg-danger'
                var disable_status = true
            } else {
                var row_color = 'text-bg-success'
                var disable_status = false
            }

            tds.forEach(td => {
                td.classList.add(row_color);

                if (td.classList.contains('status')) {
                    td.textContent = message;
                }
                    
                const buttons = td.querySelectorAll('button');
                buttons.forEach(button => {
                    button.disabled = disable_status;
                });

            });

    }

    document.addEventListener('DOMContentLoaded', ()=>{

        const valid_for = document.getElementById('id_valid_for')
        const valid_till = document.getElementById('id_valid_till')

        const currentDate = new Date()

        valid_for.addEventListener('change', update_valid_date)
        
        function update_valid_date() {
            
            let targetDate = new Date()

            switch (valid_for.value) {

            case 'monthly':
                targetDate.setMonth(currentDate.getMonth() + 1);
                break;
            case 'quarterly':
                targetDate.setMonth(currentDate.getMonth() + 3);
                break;
            case 'semi_annually':
                targetDate.setMonth(currentDate.getMonth() + 6);
                break;
            case 'annually':
                targetDate.setFullYear(currentDate.getFullYear() + 1);
                break;
            }

            valid_till.value = targetDate.toISOString().split('T')[0];
            valid_till.focus()
        }
        
    })

</script>

{% endblock %}