{% extends "layout.html" %}

{% block title %}
   : My Messages
{% endblock %}

{% block body %}

    <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-0 d-flex justify-content-center align-items-center" id="placement_space">
                
                </div>
    
            </div>
        </div>
    </div>

    <h2 class="text-center">Messages for {{ recipient.username|capfirst }}</h2>
    <div class="boxes p-1 rounded mx-auto">

    <ul class="mt-3 nav nav-tabs justify-content-center" id="myTab" role="tablist">
        
        <li class="nav-item" role="presentation">
            <button style="width: 8rem;" 
            class="nav-link {% if active_side == 'unread' %} active {% endif %}" 
            id="unread-tab" 
            data-bs-toggle="tab" 
            data-bs-target="#unread" 
            type="button" role="tab" aria-controls="unread" aria-selected="true"
            onclick="history.pushState(null, '', '?active_side=unread');">Unread</button>
        </li>
        <li class="nav-item" role="presentation">
            <button style="width: 8rem;" 
            class="nav-link {% if active_side == 'read' %} active {% endif %}" 
            id="read-tab" 
            data-bs-toggle="tab" 
            data-bs-target="#read" 
            type="button" role="tab" aria-controls="read" aria-selected="false" 
            onclick="history.pushState(null, '', '?active_side=read');">Read</button>
        </li>
    </ul>

    <div class="tab-content border border-top-0">
        <div class="tab-pane {% if active_side == 'unread' %} active {% endif %}" 
        id="unread" 
        role="tabpanel" 
        aria-labelledby="unread-tab" 
        tabindex="0">

  
            {% include 'component_snippets/mypage_messagelistbox.html' with messages=unread_messages active_side='unread' %}
        </div>


        <div class="tab-pane {% if active_side == 'read' %} active {% endif %}" 
        id="read" 
        role="tabpanel" 
        aria-labelledby="read-tab" 
        tabindex="0">
            
           
            {% include 'component_snippets/mypage_messagelistbox.html' with messages=read_messages active_side='read' %}


        </div>
    </div>
</div>

    <script>

        document.addEventListener('DOMContentLoaded', ()=>{

            placement_space = document.getElementById('placement_space')
            main_section = document.getElementById('main_section')
            
        })
        
        async function handle_message_click(event) {

            placement_space.innerHTML = ''
            
            const modal_element = document.getElementById(`msgModal`)
            const msgModal = bootstrap.Modal.getOrCreateInstance(modal_element)
            
            const message_body = event.currentTarget
            const { tripId, bookingId, messageId, messageType } = message_body.dataset;
            
            if (messageType == 'request'){   
                
                rendered_trips = await get_trip(tripId, bookingId)
                placement_space.innerHTML = rendered_trips
                const trip_item = placement_space.querySelector('.boxes')
                trip_item.classList.remove('border', 'shadow', 'mb-2', 'rounded')   
                
                modal_element.addEventListener('shown.bs.modal', show_details)
                function show_details() {
                    const show_button = trip_item.querySelector('.action_button')
                    show_button.click()
                    modal_element.removeEventListener('shown.bs.modal', show_details)
                }
                 
            } else if (messageType == 'approval' || messageType == 'rejection') {
                rendered_trips_approved = await get_trip(tripId, bookingId, true)
                placement_space.innerHTML = rendered_trips_approved
            }
                
            msgModal.show()

            const data = await message_put(messageId)
            if (data.read) {
                message_body.classList.add('mail_read')
            }
        }

        async function get_trip(trip_id, booking_id, info_only = false) {
            const response = await fetch(`/give_trips?trip_id=${trip_id}&spec_booking=${booking_id}&info_only=${info_only}`)   
            const data = await response.json()

            return data.rendered_trips
        }

        async function message_put(message_id) {
            const response = await fetch('/messages_put',
                {
                    method: 'PUT',
                    headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf
                    },
                    body: JSON.stringify({
                        'message_id' : message_id,
                    })
                }
            )
            const data = await response.json()
            return data
        }

    </script>

{% endblock %}