{% extends "layout.html" %}

{% block title %}
   : My Page
{% endblock %}

{% block body %}

    <h2 class="text-center">Messages for {{ recipient.username|capfirst }}</h2>

    <ul class="boxes mx-auto">
        {% for message in my_messages %}
            <li class="border booking_row">
                <strong>From:</strong> {% if message.sender %}{{ message.sender.username }}{% else %}System{% endif %}
                <br>
                <strong>Message:</strong> {{ message.content }}
                <br>
                <strong>Time:</strong> {{ message.time_stamp|date:"F j, Y" }}
                <br>
                <strong>Read:</strong> {{ message.read|yesno:"Yes,No" }}
            </li>
        {% empty %}
            <li>No messages found.</li>
        {% endfor %}
    </ul>

{% endblock %}