{% extends "layout.html" %}

{% block title %}
   : My Page
{% endblock %}

{% block body %}

    <section class="mb-4" id="placement_space">
    </section>

    <h2 class="text-center">Messages for {{ recipient.username|capfirst }}</h2>

    <ul class="boxes mx-auto">
        {% for message in my_messages %}
            <li onclick="handle_message_click(event)" data-trip-id="{{message.underlying_trip.id}}" data-booking-id="{{message.underlying_booking.id}}" 
            class="border rounded booking_row mail_summary">
                <strong>From:</strong> {% if message.sender %}{{ message.sender.username }}{% else %}System{% endif %}
                <br>
                <strong>Message:</strong> {{ message.content }}
                <br>
                <strong>Time:</strong> {{ message.time_stamp|date:"F j, Y" }}
                <br>
                <strong>Read:</strong> {{ message.read|yesno:"Yes,No" }}
            </li>
        {% empty %}
            <li>No messages found.</li>
        {% endfor %}
    </ul>

    <script>

        document.addEventListener('DOMContentLoaded', ()=>{

            placement_space = document.getElementById('placement_space')
            main_section = document.getElementById('main_section')
            
        })
        
        async function handle_message_click(event) {

            collapsed_section = bootstrap.Collapse.getOrCreateInstance(placement_space, {
                toggle: false
            })
            
            const { tripId, bookingId } = event.currentTarget.dataset;

            const rendered_trips = await get_trip(tripId, bookingId)

            placement_space.innerHTML = rendered_trips

            collapsed_section.show()

            main_section.scrollIntoView({ behavior:"smooth"})
        }

        async function get_trip(trip_id, booking_id) {
            const response = await fetch(`/give_trips?trip_id=${trip_id}&booking_trips=false&spec_booking=${booking_id}`)   
            const data = await response.json()

            return data.rendered_trips
        }
    </script>

{% endblock %}