
{% if bookingreq_list %}
<div class="mt-3 table-responsive-sm" style="height: 15.5rem;">

    <table class="table">

        <thead>
            <tr>
                <th class="m-0 p-0"></th>  <!-- this column is for the Psudo-element -->
                <th scope="col">Requester</th>
                <th scope="col">Seat</th>
                <th scope="col" class="d-none d-sm-table-cell">Message</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        
        <tbody>

            {% for item in bookingreq_list %}

                <tr id="requestrow-{{item.id}}" data-req-id="{{item.id}}" class="booking_row" onclick="handle_showBookingReq(event)">

                    <td>

                        {{item.requester}}
                    </td>
                    <td>

                        {{item.spots_requested}}
                    </td>
                    <td class="d-none d-sm-table-cell" 
                    style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 150px;
                    ">

                        {{item.requester_comments}}
                    </td>
                    <td class="status" style="width: 9rem;">

                        {% if item.approval_status %}

                            Approved

                        {% else %}

                            Pending

                        {% endif %}
                    </td>

                    <td class="buttons">
                        <div class="d-flex flex-column flex-sm-row align-items-end justify-content-end">

                            <button data-trip-id="{{trip_id}}" data-item-id="{{item.id}}" data-save-action="True" onclick="handle_bookingReqConf(event); event.stopPropagation();"
                                class="btn btn-primary me-0 me-sm-1 mb-1 mb-sm-0" type="button">
                                <i class="fa-regular fa-circle-check"></i>
                            </button>
                                <!-- <i class="fa-solid fa-circle-check"></i> -->
                            
                            <button onclick="event.stopPropagation();"
                                data-bs-toggle="modal" data-bs-target="#deleteModal-{{item.id}}"
                                class="btn btn-primary" type="button">
                                <i class="fa-regular fa-circle-xmark"></i>
                                <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                            </button>
                        </div>
                    </td>

                </tr>

                <div class="modal fade" id="deleteModal-{{item.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">  
                  
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Reject</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to reject this request? This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-save-action="False" data-item-id="{{item.id}}" data-trip-id="{{trip_id}}" onclick="handle_bookingReqConf(event)">Confirm</button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="modal fade" id="infoModal-{{item.id}}" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">  
                  
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel">Requester's Comments</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                                            
                                {{item.requester_comments}}
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-save-action="True" data-item-id="{{item.id}}" data-trip-id="{{trip_id}}" onclick="handle_bookingReqConf(event)">Accept</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  data-save-action="False" data-item-id="{{item.id}}" data-trip-id="{{trip_id}}" onclick="handle_bookingReqConf(event)">Reject</button>
                            </div>
                        </div>
                        
                    </div>
                </div>

        
            
            {% endfor %}

        </tbody>
    </table>
</div>

{% else %}

{% include 'component_snippets/load_box.html' with text='No request yet' %}

{% endif %}
