<div class="mt-3">

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Requester</th>
                <th scope="col">Seat</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        
        <tbody>

            {% for item in bookingreq_list %}

            <tr>

                <td>

                    {{item.requester}}
                </td>
                <td>

                    {{item.spots_requested}}
                </td>
                <td>

                    {{item.requester_comments}}
                </td>
                <td>

                    {% if item.approval_status %}

                        Approved

                    {% else %}

                        Pending

                    {% endif %}
                </td>

                <td>
                    <div class="d-flex">

                        <button  
                            class="btn btn-primary me-1" type="button">
                            <i class="fa-regular fa-circle-check"></i>
                            <!-- <i class="fa-solid fa-circle-check"></i> -->
                        </button>
                        
                        <button 
                            data-bs-toggle="modal" data-bs-target="#deleteModal-{{item.id}}"
                            class="btn btn-primary" type="button">
                            <i class="fa-regular fa-circle-xmark"></i>
                            <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                        </button>

                        <div class="modal fade" id="deleteModal-{{item.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">  
                          
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Reject</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to reject this request? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger" data-item-id="{{item.id}}" onclick="handle_bookingReqDelConf(event)">Confirm</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </td>
        
    </tr>
            
            {% endfor %}

        </tbody>
    </table>
</div>
