<div class="carousel-item active">

    <div class="mask-container">

        <div class="above-mask-box">
            <div class="box-wrap"></div>
        </div>
    
        <div class="mask-box">

            <img src={{image_link}} 
            class="img-fluid d-block"
            alt="{{image_desc}}">
            
        </div>
    
        <div class="below-mask-box">
        </div>
    
    </div>

    <div class="carousel-caption d-md-block">
        <small>
            <a href="{{attribute_link}}">Image by freepik</a>
        </small>
    </div>
</div>