<div class="carousel-item {% if active %}active{% endif %}">

    <div class="mask-container">

        <div class="above-mask-box">
            <div class="box-wrap"></div>
        </div>
    
        <div class="mask-box">

            <img src={{image_link}} 
            class="w-100 d-block" style="height: 90dvh; object-fit: cover; object-position: 30% 10%;"
            alt="{{image_desc}}">
            
        </div>
    
        <div class="below-mask-box">
        </div>
    
    </div>

    <div class="carousel-caption d-md-block">
        <small>
            <a href="{{attribute_link}}">Image by freepik</a>
        </small>
    </div>
</div>