<div class="container py-5" >

    <div class="row row-cols-1 row-cols-md-2 g-0 mx-auto" style="overflow-x: hidden;">

        <div class="col p-3">
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">

            
            <div class="w-100 position-relative h-100" style="min-height: 550px;">
                <button onclick="handle_change(event)">change button</button>

                <div class="position-absolute d-inline-block border rounded postions x positionA">
                    
                    <img src="../static/imgs/hero/woman-with-mask-headphones-train-optimized.jpg"
                    class="rounded"
                    style="width: 300px; height: 400px; object-fit: cover;">

                    <a href="https://www.freepik.com/free-photo/gamification-creative-collage-concept_25598773.htm#fromView=search&page=1&position=7&uuid=11e362f2-a71b-4090-9907-5611b799faad">Image by freepik</a>
                    
                </div>

                <div class="position-absolute d-inline-block border rounded postions y positionB">
                    
                    <img src="../static/imgs/hero/woman-with-mask-headphones-train-optimized.jpg"
                    class="rounded"
                    style="width: 300px; height: 400px; object-fit: cover;">
                   
                </div>

                <div class="position-absolute d-inline-block border rounded postions z positionC">
                    
                    <img src="../static/imgs/hero/woman-with-mask-headphones-train-optimized.jpg"
                    class="rounded"
                    style="width: 300px; height: 400px; object-fit: cover;">
                    
                </div>
                
            </div>

        </div>

    </div>

</div>

<script>

    function handle_change(event) {

        target_parent = event.currentTarget.parentNode

        array_of_classes = ['positionA', 'positionB', 'positionC']
        
        array_of_classes.forEach((className, index) => {
            
            target_divs = target_parent.querySelectorAll(`.${className}:not(.exclude)`)
            target_div = target_divs[0]
            target_div.classList.remove(className)
            target_div.classList.add(array_of_classes.at(index - 1), 'exclude')

        });

        target_parent.querySelectorAll('.exclude').forEach(item=>{
            item.classList.remove('exclude')
        })

    }

</script>