<div class="" style="background-color: lightpink;">

    <div class="row row-cols-1 row-cols-md-2 g-0 mx-auto" style="overflow-x: hidden;">

        <div class="col skewer">
            <div class="d-flex justify-content-end px-5 py-5 align-items-center">

                <div class="position-relative floating rounded border" style="box-shadow: 10px 5px 70px black;">
                    
                    <img src="../static/imgs/hero/woman-with-mask-headphones-train-optimized.jpg"
                    class="rounded"
                    style="width: 300px; height: 400px; object-fit: cover;">
                    <a class="position-absolute end-0 bottom-0 z-1 text-white text-decoration-none" href="https://www.freepik.com/free-photo/woman-with-mask-headphones-train_8741391.htm#fromView=search&page=1&position=10&uuid=cccab5e1-e98c-4cd3-b18e-b05f595ef61e">Image by freepik</a>
                    
                </div>
                
            </div>
        </div>
        
        <div class="col" >

            <div class="px-5 py-4 d-flex h-100 align-items-center">

                <div class="position-relative" style="color: #404;">
                    
                    <h1 class="fw-bold">
                        Safety First
                    </h1>
                    
                    <p style="color: var(--bs-purple);">
                    Does your child use public transport to school?
                    <br>
                    Are you worried about safety of your child
                    <br>
                    Try our service to find a <span class="fw-bold" style="color: rgb(181, 68, 68);"> buddy!</span>
                    </p>
                    
                    <a class="btn btn-outline-primary btn-lg" href="/make_trip">Get Started</a>

                    <img
                    style="width: 50%;
                    filter: invert(1) brightness(2);
                    " 
                    class="position-absolute end-0" 
                    src="../static/imgs/hero/underline-chalk.png">
                </div>
            </div>

        </div>

    </div>

</div>
