
<nav id="top_bar" 
class="navbar navbar-expand-lg 
position-fixed top-0 start-0 end-0 
bg-secondary-subtle
border-bottom border-2 border-primary-subtle 
at_top" 
style="z-index: 100;">
    <div class="container-lg">

        <a class="navbar-brand me-5" href="/" style="color: var(--bs-purple);">
            <span class="logo">
                Ride Buddy
            </span> 
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-none d-lg-flex w-100">

            <ul class="navbar-nav nav-underline me-auto mb-0">
                {% include 'component_snippets/navbar_links_set1.html' %}
            </ul>

            <ul class="navbar-nav nav-underline">

                {% include 'component_snippets/navbar_links_set2.html' %}
            </ul>
        </div>

        <div class="navbar-dark rounded collapse navbar-collapse bg-secondary" id="navbarToggler">
            <ul class="navbar-nav my-3 mx-4 align-items-end flex-column d-flex d-lg-none" 
            >
                {% include 'component_snippets/navbar_links_set1.html' %}
                {% include 'component_snippets/navbar_links_set2.html' %}

            </ul>
        </div>
    </div>
</nav>
