{% for trip in my_active_trips %}
    <div class="border shadow boxes rounded w-100 mx-auto d-flex justify-content-center align-items-center">

        <div class="">
            <div class="border-primary-subtle open_seats_container d-flex justify-content-center align-items-center">
                <div>
                    {{trip.open_seats}}
                </div>
            </div>
        </div>
        <div class=" flex-fill px-4">
            <div class=" d-flex justify-content-between border-bottom border-primary-subtle border-2">
                <div>
                    <h4>
                        {{trip.origin.location_name}}
                    </h4>
                    <h6>
                        {{trip.origin.location_area}}
                    </h6>
                </div>
                <div>
                    <h4>
                        {{trip.destination.location_name}}
                    </h4>
                    <h6>
                        {{trip.destination.location_area}}
                    </h6>
                </div>
            </div>
            <div class="mt-1">
               <h6>
                    Departure Time: {{trip.departure_time}}
               </h6>
            </div>
        </div>
    </div>
    {% endfor %}