{% for trip in trips %}
<div class="border shadow boxes rounded w-100 mx-auto mb-2">
    <div class="d-flex justify-content-center">

        <div class="mx-2">
            <div style="position: relative;">
                
                <div class="border-primary-subtle open_seats_container d-flex justify-content-center align-items-center">
                    <div class="" style="color: var(--bs-purple);">
                        {{trip.open_seats}}
                    </div>
                
                    <svg viewBox="0 0 200 200" class="position-absolute" style="overflow:visible; z-index: 1; bottom: -12%; left: -6%; width: 112%; height: 112%;">
                        <defs>
                            <path id="textCircle" d="M 100, 100 m -100, 0 a 100,100 0 1,0 200,0 "/>
                        </defs>
                        <text font-size="32" fill="black">
                            <textPath href="#textCircle" startOffset="50%" text-anchor="middle">
                                Open Spots 
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
        </div>

        <div class=" flex-fill px-4">
            <div class="row row-cols-1 gy-3 row-cols-sm-2 border-bottom border-primary-subtle border-2">

                {% include 'component_snippets/location_look.html' with location=trip.origin type='Origin' %}
                {% include 'component_snippets/location_look.html' with location=trip.destination type='Destination' %}
                
            </div>
            <div class="mt-3 d-sm-flex  justify-content-between">
                <div>
                    <h6>
                        Departure Time: <span class="text-primary">{{trip.departure_time}}</span>
                    </h6>
                    <h6>
                        Trip Owner: <span class="text-primary">{{trip.trip_owner}}</span>
                    </h6>
                </div>

                <button class="btn btn-primary" type="button" 
                    
                    {% if booking_trips %}
                        onclick="handle_form_fetch(event)"
                    {% else %}
                        onclick="handle_view_details(event)"
                    {% endif %}

                    data-bs-toggle="collapse" 
                    data-bs-target="#form_space_{{trip.id}}" 
                    data-targettripid="{{trip.id}}" 
                    aria-expanded="false">
                    {% if booking_trips %}
                        Book a Spot
                    {% else %}
                        View Details
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
    
    <div class="collapse" id="form_space_{{trip.id}}">
        <div class="rounded m-2 d-flex justify-content-center align-items-center" 
        style="
        height: 16.5rem; 
        background-color: darkgray; 
        color: white;
        font-size: xx-large;
        "> Loading </div>
    </div>

</div>

{% endfor %}
