{% for trip in my_active_trips %}
    <div class="border shadow boxes rounded w-100 mx-auto d-flex justify-content-center align-items-center">

        <div class="mx-2">
            <div class="border-primary-subtle open_seats_container d-flex justify-content-center align-items-center">
                <div>
                    {{trip.open_seats}}
                </div>
            </div>
        </div>

        <div class=" flex-fill px-4">
            <div class="row row-cols-1 gy-3 row-cols-sm-2 border-bottom border-primary-subtle border-2">

                {% include 'component_snippets/location_look.html' with location=trip.origin %}
                {% include 'component_snippets/location_look.html' with location=trip.destination %}
                
            </div>
            <div class="mt-3">
               <h6>
                Departure Time: <span class="text-primary">{{trip.departure_time}}</span>
               </h6>
            </div>
        </div>
    </div>
    {% endfor %}