.boxes {
    padding: 2rem;
}

.boxes > h2 {
    margin-bottom: 2rem;
}

@mixin responsive-border($border-width, $breakpoint: 576px) {
    border-right-width: $border-width;
    border-right-style: solid;
  
    @media (max-width: $breakpoint) {
      border-right-width: 0;
    }
  }
  
  .border-responsive {
    @include responsive-border(1px);
  }
  