.boxes {
    padding: 2rem;
}

.boxes > h2 {
    margin-bottom: 2rem;
}

@mixin responsive-vertical-line($border-width, $breakpoint: 576px) {
    border-right-width: $border-width;
    border-right-style: solid;
  
    @media (max-width: $breakpoint) {
      border-right-width: 0;
    }
}

.vertical-form-devider-line {
    @include responsive-vertical-line(2px);
}

.open_seats_container{
    border-radius: 50%; 
    border: 10px solid;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
}

